<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Code"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".welcome.LobbyPatient"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".welcome.LobbyCaregiver"
            android:exported="false" />

        <activity
            android:name=".ui.ChatOld"
            android:exported="false" />
        <activity
            android:name=".ui.ScaleChat"
            android:exported="false" />

        <receiver android:name=".AlarmReceiver"
            android:exported="false"/>

        <activity
            android:name=".ui.SettingList"
            android:exported="false" />
        <activity
            android:name=".ui.Register"
            android:exported="false"
            android:theme="@style/Theme.Code" />
        <activity
            android:name=".exercise.PoseMaster"
            android:exported="false" />
        <activity
            android:name=".exercise.Display"
            android:exported="false" />
        <activity
            android:name=".ui.HealthEducation"
            android:exported="false" />
    </application>

</manifest>
